.sc-skin {
    position: relative;

    & input {
        display: block;
        margin: 0.25em 100% 0.15em 0;
        padding: 0;
        width: fit-content;

        background: none;
        border: none;
        color: #7b89ad;
        font-family: HUN;
        font-size: 1.2em;
        font-weight: bold;
    }
}

.sc-skin-mino {
    height: 46px;
    width: 46px;
}
