.sc-author {
    cursor: pointer;
    margin-left: 0.5em;
    width: 48px;
}

[data-menuview="config_scarlet"] .scroller_block p {
    font-family: PFW;
}

.sc-plugin-toggle:hover,
.sc-author:hover {
    filter: brightness(1.1);
}
